.product {
    width: 100%;
    height: 120vh;
    border-top: 20px;
    border-top: 2px dashed var(--very-papaya);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7rem;
    margin-bottom: 60px;
}

.title-products {
    margin-left: 80px;
    font-size: 25px;
    margin-bottom: 25px;
}

.card {
    width: 200px;
    height: 270px;
    border: 1px solid gray;
    border-radius: 15px;
    overflow: hidden;
}

.contein-Img {
    width: 100%;
    height: 60%;
}

.img-Card {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name-Product {
    background: var(--very-gris);
    text-align: center;
    font-size: 1rem;
}

.card div {
    width: 100%;
    height: 35%;
    margin-top: 15px;
    background: var(--white);
    display: flex;
    justify-items: center;
    justify-content: space-evenly
}

.price {
    font-size: 1rem;
}

.buy {
    width: 50%;
    height: 50px;
    cursor: pointer;
    background: none;
    text-decoration: none;
    border-radius: 15px;
}

.buy:hover {
    box-shadow: 0 0 40px var(--very-papaya);
    background: var(--very-black);
    color: var(--white);
}